@font-face {
    font-family: "iconfont"; /* Project id 2853942 */
    src: url('./iconfont.woff2') format('woff2'),
         url('./iconfont.woff') format('woff'),
         url('./iconfont.ttf') format('truetype');
  }
  
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}